//! **************************************************************************
// Written by: Map P.20131013 on Wed Oct 05 14:50:07 2022
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "rx" LOCATE = SITE "B8" LEVEL 1;
COMP "tx" LOCATE = SITE "A8" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "C17" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "C18" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "D17" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "D18" LEVEL 1;
COMP "clk50mhz" LOCATE = SITE "V10" LEVEL 1;
NET "clk50mhz_BUFGP/IBUFG" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

