//! **************************************************************************
// Written by: Map P.20131013 on Tue Oct 11 14:46:47 2022
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "rx" LOCATE = SITE "H17" LEVEL 1;
COMP "tx" LOCATE = SITE "H18" LEVEL 1;
COMP "reset1" LOCATE = SITE "F17" LEVEL 1;
COMP "atn" LOCATE = SITE "J16" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "C17" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "C18" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "D17" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "D18" LEVEL 1;
COMP "north" LOCATE = SITE "E18" LEVEL 1;
COMP "south" LOCATE = SITE "E16" LEVEL 1;
COMP "salida<0>" LOCATE = SITE "P15" LEVEL 1;
COMP "salida<1>" LOCATE = SITE "P16" LEVEL 1;
COMP "salida<2>" LOCATE = SITE "N15" LEVEL 1;
COMP "salida<3>" LOCATE = SITE "N16" LEVEL 1;
COMP "salida<4>" LOCATE = SITE "U17" LEVEL 1;
COMP "salida<5>" LOCATE = SITE "U18" LEVEL 1;
COMP "salida<6>" LOCATE = SITE "T17" LEVEL 1;
COMP "salida<7>" LOCATE = SITE "T18" LEVEL 1;
COMP "reset0" LOCATE = SITE "F18" LEVEL 1;
COMP "clk100mhz" LOCATE = SITE "V10" LEVEL 1;
NET "clk100mhz_BUFGP/IBUFG" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

